version: "3.9"

services:
  redis:
    image: redis:6.2
    container_name: chatbot-cache-2
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", ""]
    volumes:
      - chatbot_cache:/data
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data




volumes:
  chatbot_cache:
  postgres_data:
